.simple-tabs {
  width: 700px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;

  &__content {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 50px 0;
  }
}

.tab-header {
  &__item {
    padding: 0 10px;
    color: lightgray;

    &-active {
      color: black;
      border-bottom: 2px solid black;
    }
  }
}